{% extends "plastickothay/base.html" %}
{% block main_content %}
  <style>
    .card {
        margin: 50px 0;
        width: 70%;        
    }
  </style>

  <div class="card">
    <h2>Rate your experience</h2>
    <form method="post" id="reportForm" class="report-form">
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Your Name: <span class='mandatory'>*</span></label>
          <input type="text" id="name" name="nameData" value="{{ user.first_name }} {{ user.last_name }}" required>
      </div>

      <div class="form-group">
          <label for="phone">Contact Number: <span class='mandatory'>*</span></label>
          <input type="text" id="phone" name="phoneData" value="{{ user.phone }}" required>
      </div>
      
      <div class="form-group">
          <label for="email">Email Address: <span class='mandatory'>*</span></label>
          <input type="email" id="email" name="emailData" value="{{ user.email }}" required>
      </div>
      
      <div class="form-group">
          <label for="severity">Rating: <span class='mandatory'>*</span></label>
          <div class="severity-container">
              <input type="range" id="severity" name="rateData" min="1" max="5" value="5">
              <div class="severity-labels">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                  <span>5</span>
              </div>
          </div>
      </div>      

      <div class="form-group">
          <label for="description">Comment:</label>
          <textarea type="text" id="comment" name="commentData"></textarea>
      </div>
      
      <button type="submit" class="submit-btn">Rate</button>
    </form>
  </div>
{% endblock main_content %}
{% block title_content %}Rate Us{% endblock title_content %}
