<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="{% static "style.css" %}">
  <link rel="shortcut icon" href="{% static "favicon.svg" %}" type="image/x-icon">  
</head>
<body>
  {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <div class="calert {{ message.tags }}">                
                {{ message }}
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    </div>
  {% endif %}
  <header style="position: relative;">
    {% comment %} <button class="profile-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
        <span>Profile</span>
    </button> {% endcomment %}
    
      <div class="logo">
          <img src="{% static "logo.svg" %}" alt="Plastic Kothay Logo">
      </div>
      <nav>
          {% comment %} <button class="menu-toggle" id="menuToggle">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <ul class="nav-menu">
              <li><a href="#" class="active">Map</a></li>
              <li><a href="#">Report</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul> {% endcomment %}
          
      </nav>
      <div class="side-btn" id="overlay" onclick="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect x="3" y="6" width="18" height="2" rx="1" fill="currentColor"/>
          <rect x="3" y="11" width="18" height="2" rx="1" fill="currentColor"/>
          <rect x="3" y="16" width="18" height="2" rx="1" fill="currentColor"/>
        </svg>        
      </div>
    </header>

    <div class="sidebar" id="sidebar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" onclick="toggleSidebar()">
        <line x1="18" y1="6" x2="6" y2="18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        <line x1="6" y1="6" x2="18" y2="18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
      
      <a class="{% if request.resolver_match.url_name == 'dashboard' %}sidebtn-active{% endif %}" href="{% url 'superadmin:dashboard' %}">Dashboard</a>
      <a href="{% url "plastickothay:home" %}">Map</a>
      <a href="{% url "plastickothay:posts" %}">Posts</a>
      <a class="{% if request.resolver_match.url_name == 'users' %}sidebtn-active{% endif %}" href="{% url 'superadmin:users' %}">Users</a>
      <a class="{% if request.resolver_match.url_name == 'settings' %}sidebtn-active{% endif %}" href="#">Settings</a>
      <a class="{% if request.resolver_match.url_name == 'logout' %}sidebtn-active{% endif %}" href="{% url 'superadmin:logout' %}">Logout</a>
    </div>

    <div class="content">
      {% block main-content %}{% endblock main-content %}
    </div>
    <footer>
      <p>&copy; 2025 Plastic Kothay. All rights reserved.</p>
    </footer>  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.5.0/apexcharts.min.js" integrity="sha512-yMnvLee1a5S9nemgCoMth5YvOchnQMFMOSao/bH6SLAXZnauuHs1gd92DnE9+sVQ5aglei3LZDelg8LauSlWkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static "chart.js" %}"></script>
<script>
  function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");        
    sidebar.classList.toggle("active");
    overlay.classList.toggle("active");
  }
</script>
<script>
  document.title = "{% block title %}{% endblock title %}";
</script>
</html>