{% extends "superadmin/base.html" %}
{% block main-content %}

    <!-- Superadmin Table -->
    <h2 class="section-title">Superadmins</h2>
    <table class="user-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in superadmins %}
                <tr>
                    <td data-label="Username">{{ user.username }}</td>
                    <td data-label="Full Name">{{ user.first_name }} {{ user.last_name }}</td>
                    <td data-label="Email">{{ user.email }}</td>
                    <td data-label="Action">
                        <a href="" class="action-btn view-btn">View</a>
                        <a href="" class="action-btn delete-btn">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No superadmins found.</td></tr>
                {% endfor %}
            </tbody>
    </table>

    <!-- Admin Table -->
    <h2 class="section-title">Admins</h2>
    <table class="user-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in admins %}
                <tr>
                    <td data-label="Username">{{ user.username }}</td>
                    <td data-label="Full Name">{{ user.first_name }} {{ user.last_name }}</td>
                    <td data-label="Email">{{ user.email }}</td>
                    <td data-label="Action">
                        <a href="{% url 'superadmin:edit_user' user.id %}" class="action-btn edit-btn">View</a>
                        <a href="{% url 'superadmin:delete_user' user.id %}" class="action-btn delete-btn">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No admins found.</td></tr>
                {% endfor %}
            </tbody>
    </table>

    <!-- User Table -->
    <h2 class="section-title">Users</h2>
    <table class="user-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td data-label="Username">{{ user.username }}</td>
                    <td data-label="Full Name">{{ user.first_name }} {{ user.last_name }}</td>
                    <td data-label="Email">{{ user.email }}</td>
                    <td data-label="Action">
                        {% comment %} <a href="{% url 'superadmin:edit_user' user.id %}" class="action-btn edit-btn">View</a>
                        <a href="{% url 'superadmin:delete_user' user.id %}" class="action-btn delete-btn">Delete</a> {% endcomment %}
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No users found.</td></tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock main-content %}
{% block title %}All-User{% endblock title %}