{% extends "superadmin/base.html" %}
{% load static %}
{% block main-content %}

    <div class="profile-content">
        <div class="left-part">
            <img src="{% static "image.jpeg" %}" alt="">
        </div>
        <div class="right-part">
            <div class="profile-control">
                <button>Make Admin</button>
                <button>Delete</button>
            </div>
            <h2>Full Name</h2>
            <h3>user name</h3>
            <p>User type</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Date of Join</p>
            <p>Active Status</p>
        </div>
    </div>

{% endblock main-content %}
{% block title %}User{% endblock title %}